@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;1,700&display=swap'); 

body { 
    width: 950px;
    margin: 0 auto; 
    font-family: 'Ubuntu', sans-serif;
}

header {
    text-align: center;
    font-weight: 300;
}

header a {
    padding: 5px;
    text-decoration: none;

}

header a:hover {

    background-color: tomato;
    color: thistle;
}
.logo {
    display: block;
    margin: 0 auto;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.about {
   
    text-transform: capitalize;
    font-size: 15px;
    background-color: rgb(10, 1, 43);
    color: rgb(133, 216, 236);
    font-weight: 700;
}

.edu {

    text-transform: capitalize;
    font-size: 15px;
    background-color: rgb(5, 1, 70);
    color: rgb(168, 227, 241);
    font-weight: 700;
}

.goals { 
   
    text-transform: capitalize;
    font-size: 20px;
    background-color: rgb(18, 0, 26);
    color: rgb(207, 242, 247);
    font-weight: 700;

}

main ul li {
    list-style-type: none;
    background-color: rgb(24, 46, 68);
    color: rgb(208, 236, 236);
    font-weight: 500;

   
}

main ol li:nth-child(odd) { 
    background-color: rgb(24, 46, 35);
    color: skyblue;
    font-weight: 500;
}

main ol li:nth-child(even) {

    background-color: rgb(24, 46, 68);
    color: rgb(208, 236, 236);
    font-weight: 500;
}

footer {
    text-align: center;
    padding-left: 10px; 
    padding-bottom: 10px;
}

footer li {
    
    display: inline-block;
    padding-left: 5px;
}

